<div class="data-form">
  <form method="POST" action="<%=`/events/${event._id}/update?_method=PUT`%>">
    <h2>Edit event:</h2>
    <label for="inputTitle">Title</label>
    <input
      type="text"
      name="title"
      id="inputTitle"
      value="<%= event.title %>"
      placeholder="Title"
      required
      autofocus
    />
    <br>
    <label for="inputDescription">Description</label>
    <input
      type="text"
      name="description"
      id="inputDescription"
      value="<%= event.description %>"
      placeholder="Description"
      required
    />
    <br>
    <label for="inputLocation">Location</label>
    <input
      type="text"
      name="location"
      id="inputLocation"
      value="<%= event.location %>"
      placeholder="Location"
      required
    />
    <br>
    <label for="inputStartDate">Start Date</label>
    <input
      type="date"
      name="startDate"
      id="inputStartDate"
      value="<%= event.startDate.toISOString().split('T')[0] %>"
      required
    />
    <br>
    <label for="inputEndDate">End Date</label>
    <input
      type="date"
      name="endDate"
      id="inputEndDate"
      value="<%= event.endDate.toISOString().split('T')[0] %>"
      required
    />
    <br>
    <label for="inputIsOnline">Is the event online</label>
    <input
      type="checkbox"
      name="isOnline"
      id="inputIsOnline"
      <% if (event.isOnline) { %>
          checked
        <% } %>
    />
    <br>
    <label for="inputRegistrationLink">Registration Link</label>
    <input
      type="text"
      name="registrationLink"
      id="inputRegistrationLink"
      placeholder="Link here"
      value="<%= event.registrationLink %>"
    />
    <br><br>
    
    <button type="submit">Update</button>
  </form>
</div>
