<html>
  <head>
    <title>Brandeis University</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <div class="signin">
          <% if (loggedIn) { %>
            <a href="<%=`/users/${currentUser._id}`%>" id="loggedInAs"><%= currentUser.name %></a>
            <div
              id="apiToken"
              data-token="<%= currentUser.apiToken %>"
              style="display: none"
            ></div>
            <a href="/users/logout" class="btn btn-info">Log out</a>
          <%} else {%>
            <a href="/users/login" class="btn btn-info">Log In</a>
            <a href="/users/new" class="btn btn-info">Sign Up</a>
          <% } %>
      </div>
      <table id="headerTable">
        <tr>
          <td>
            <img id="logo" src="/images/BrandeisLogo.png" alt="Brandeis Logo">
          </td>
          <td>
            <div class="headers">
                <h1>Brandeis University</h1>
                <h3>Students & Alumni Association</h3>
            </div>
          </td>
        </tr>
      </table>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/chat" class="chat-icon">Chat</a></li>
        <li><%- include('events/_eventsModal') %></li>
        <% if (currentUser && currentUser.isAdmin) { %>
        <li><a href="/users">All Users (Admin only)</a></li>
        <% } %>
      </ul>
    </header>
    <div class="flashes">
      <% if (flashMessages) { %> <% if (flashMessages.success) { %>
      <div class="flash success"><%= flashMessages.success %></div>
      <% } else if (flashMessages.error) { %>
      <div class="flash error"><%= flashMessages.error %></div>
      <% } %> <% } %>
    </div>
    <div id="page-content">
      <div id="center-div"><%- body%></div>
    </div>
    <footer>
      <p>Brandeis University - Copyright©2023</p>
    </footer>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/brandeisApp.js"></script>
  </body>
</html>
